

<div class="container" style="background-color:	#282828; color:#F8F8F8">

    <div class="row">
   
        <p>Todo el contenido publicado en el portal  IA Trade Avisor es propiedad en exclusiva de sus gestores.</p>
        <p>Los usuarios autorizados tienen derecho de acceso a las herramientas de evaluacion de mercado, pero IA Trade Avisor nunca sera responsable de uso de estas herramientas de analis de mercado.</p>
    
    </div>

    <div class="row">
        <div class="col-6">            
            <a href="about"><div class="text-center"><b>About it</b></div></a>
        </div>

        <div class="col-6">           
            <a href="https://www.linkedin.com/in/juan-francisco-illan-sanchez-3aab827a/" target="_blank"><div class="text-center"><b>Contact</b></div></a>
        </div>

    </div>

    <div class="row">
   
        <p style="text-align: center">© 2023 IA Trade Avisor. Todos los derechos reservados.</p>
    
    </div>
    
</div>

